In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [3]:
def prepare_data(X):
    for i,val in enumerate(X['Sex']):
        if X['Sex'][i] == 'male':
            X['Sex'][i] = 1
        else:
            X['Sex'][i] = 0
    median_age = X['Age'].median()
    X['Age'] = X['Age'].fillna(median_age)
    median_fare = X['Fare'].median()
    X['Fare'] = X['Fare'].fillna(median_age)
    return X

In [4]:
y = train['Survived']
X = train.drop(['Survived', 'Name', 'Ticket', 'Cabin', 'Embarked'], 1)
X = prepare_data(X)
lr = LinearRegression()

In [5]:
X

     PassengerId  Pclass Sex   Age  SibSp  Parch     Fare
0              1       3   1  22.0      1      0   7.2500
1              2       1   0  38.0      1      0  71.2833
2              3       3   0  26.0      0      0   7.9250
3              4       1   0  35.0      1      0  53.1000
4              5       3   1  35.0      0      0   8.0500
..           ...     ...  ..   ...    ...    ...      ...
886          887       2   1  27.0      0      0  13.0000
887          888       1   0  19.0      0      0  30.0000
888          889       3   0  28.0      1      2  23.4500
889          890       1   1  26.0      0      0  30.0000
890          891       3   1  32.0      0      0   7.7500

[891 rows x 7 columns]

In [6]:
test = test.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], 1)
test = prepare_data(test)
test

     PassengerId  Pclass Sex   Age  SibSp  Parch      Fare
0            892       3   1  34.5      0      0    7.8292
1            893       3   0  47.0      1      0    7.0000
2            894       2   1  62.0      0      0    9.6875
3            895       3   1  27.0      0      0    8.6625
4            896       3   0  22.0      1      1   12.2875
..           ...     ...  ..   ...    ...    ...       ...
413         1305       3   1  27.0      0      0    8.0500
414         1306       1   0  39.0      0      0  108.9000
415         1307       3   1  38.5      0      0    7.2500
416         1308       3   1  27.0      0      0    8.0500
417         1309       3   1  27.0      1      1   22.3583

[418 rows x 7 columns]

In [7]:
lr.fit(X,y)
lr.predict(test).round()

array([ 0.07974466,  0.47568177,  0.09043622,  0.12394781,  0.60476052,
        0.20017087,  0.61874369,  0.24618537,  0.68872673,  0.07863651,
        0.12370407,  0.36135869,  0.98825154,  0.04801314,  0.83933805,
        0.78937713,  0.24946153,  0.15856338,  0.59311533,  0.53105173,
        0.27919557,  0.20783698,  0.98756707,  0.50291316,  0.85871664,
       -0.05123961,  1.01006903,  0.14990003,  0.39260452,  0.04276124,
        0.12415853,  0.23496937,  0.52494877,  0.56120573,  0.42475833,
        0.17335951,  0.63675628,  0.67208216,  0.13633923,  0.14400148,
        0.03693039,  0.47292731,  0.04219838,  0.79194767,  0.84778589,
        0.13576286,  0.36908417,  0.12402349,  0.81334144,  0.54907238,
        0.4609119 ,  0.29767611,  0.74855846,  0.90856609,  0.29793153,
        0.03940275,  0.07742436,  0.13577274,  0.08416758,  1.03028609,
        0.18265609,  0.26792803,  0.17677267,  0.66611905,  0.52676341,
        0.81299724,  0.68958898,  0.362838  ,  0.45064637,  0.770082  ,
        0.65451326,  0.15939318,  0.62538615,  0.46497137,  1.0153476 ,
        0.51724555,  0.12444433,  0.73522895,  0.27958445,  0.65460555,
        0.187538  ,  0.27651674,  0.34455499,  0.12445266,  0.29623468,
        0.08376717,  0.63719872,  0.68987462,  0.63716606,  0.38481139,
        0.62553215,  0.12448499,  0.91478844,  0.12461866,  0.48493232,
        0.13622242,  0.67797868,  0.11292038,  0.67821899,  0.08961662,
        0.86123628,  0.25929696,  0.1245875 ,  0.13045197,  0.63929778,
        0.12485459,  0.15972122,  0.12463877,  0.12504512,  0.34710752,
        0.21647128,  0.63741393,  0.93589294,  0.68690376,  0.81295299,
        0.13667017,  0.12419094,  0.73045763,  0.44115931,  0.76051582,
        0.89905967,  0.08137741,  0.90916322,  0.11875315,  0.1248131 ,
        0.68019483,  0.1540721 ,  0.55713474,  0.20997004,  0.14251961,
        0.09577844,  0.32271055,  0.56800347,  0.08096034,  0.03147279,
        0.14250057,  0.12764207,  0.30356519,  0.66117796, -0.09365489,
        0.49768025,  1.00305171,  0.27123348,  0.29728866,  0.38632461,
       -0.02434394,  0.48442072,  0.15439205,  0.47402455,  0.22303124,
        1.01421236,  0.12514997, -0.06274955,  0.54860935,  0.00459108,
        0.14258047,  1.05548217,  0.66129222,  0.38646817,  0.60776518,
        0.63789752,  0.1825247 ,  0.81674944,  0.12490439,  0.21618314,
        0.587043  ,  0.36134089,  0.06354403,  0.98743358,  0.6677153 ,
        0.12520251,  0.12507902,  0.10780697,  0.12510125, -0.08045358,
        0.85320749,  0.86152449,  0.28502054,  0.7112896 ,  0.75568253,
        0.28063042,  0.3765882 ,  1.0072117 ,  0.12541812,  1.01541934,
        0.22347698,  0.83007546,  0.09721202,  0.2779319 ,  0.22228343,
        0.21930212,  0.47423916,  0.156238  ,  0.09933446,  0.3789128 ,
        0.09052049,  0.60321087,  0.69088946,  0.3206937 ,  0.6384535 ,
        0.64150388,  0.24574459,  0.39700065,  0.86487354,  0.30906737,
        0.47427643,  0.59162468,  0.31494206,  0.9527802 ,  0.1374326 ,
        0.10255561,  0.12541718,  0.38182678,  0.58031797,  0.36211319,
        0.39361648,  0.63853182,  0.29370369,  0.86653425,  0.12591074,
        0.75071101,  0.16099482,  0.83950586,  0.16091072,  0.83595253,
        0.60320332,  0.14925363,  0.63859145,  0.05001124,  0.24606933,
        0.3960452 ,  1.02266138,  0.1170631 ,  0.12598402,  0.37978316,
        0.16690174,  0.23533785,  0.16666332,  0.80144337,  0.85442283,
        0.82454192,  0.67486273,  0.3515906 ,  0.12608998,  0.05064732,
        0.360216  ,  0.84407296,  0.15658395,  0.76183866,  0.59817106,
        0.88822453,  0.16709495,  0.47704796,  0.14431588,  0.09472476,
        0.12607415,  0.12616671,  0.12045649,  0.85843562,  0.16127133,
        0.03125667,  0.16132443,  0.76570027,  0.73009607,  0.28138378,
        0.126319  ,  0.46430866,  0.1261972 ,  0.63913535,  0.18511481,
        0.38427873,  0.12632053,  0.9958191 ,  0.59884754,  0.12613524,
        0.81471089,  0.29227391,  0.1851307 ,  0.24152263,  0.32736825,
        0.66288617,  0.21967453,  0.63915545,  0.68481003,  0.72777169,
        0.07366297,  0.12626858,  0.4725055 ,  0.12628053,  0.12662856,
        0.48085108,  0.62138674,  0.12632155,  0.28369888,  0.07468119,
        0.13247056,  0.89391976,  0.04550947,  0.46582932,  0.11496268,
        0.09740855,  0.30024491,  0.18997644,  0.14455597,  0.63938105,
        0.70950022,  0.42769613,  0.26105758,  0.27695567,  0.49345328,
        0.17969132,  0.1557343 ,  0.12666895,  0.58103406,  0.86970924,
        0.69792627,  0.30639529,  0.34528971,  0.12684537,  0.24961056,
        0.13267722,  0.13830679,  0.30546229,  0.44075554,  0.99446866,
        0.14996192,  0.80470402,  0.38649217,  0.2499369 ,  0.33475371,
        0.66102139,  0.4070703 ,  0.12673001,  0.62708755,  0.12702657,
        0.45818404,  0.27054228,  0.01820355,  0.31908347,  0.12680352,
        0.35136949,  0.09774842, -0.06395961,  0.98826773,  0.06721581,
        0.70404355,  0.3057084 ,  0.57532447,  0.31762253,  0.79253383,
        0.8795487 ,  0.31057479,  0.3774185 ,  0.11091178,  0.72010692,
        0.34151056,  0.72532301,  0.12725559,  0.12721268,  0.58221822,
       -0.15997733,  0.7775194 ,  0.79266714,  0.12763946,  0.9691342 ,
        0.44899837,  0.0866504 ,  0.68238975,  0.87810436,  0.28876568,
        0.29115194,  1.01008165,  0.33682922,  0.20079456,  0.79140771,
        0.98093119,  0.58290468,  0.33462865,  0.32240333,  0.05364979,
        0.12743828,  0.13334563,  0.64295869,  0.64697388,  0.3002027 ,
        0.77006027,  0.14504188,  0.12496706,  0.16258388,  0.10629566,
        0.52743335,  0.83504618,  0.17606805,  0.18243906, -0.02767247,
        1.01223544,  0.14492837,  0.82561318,  0.15685279,  0.10425053,
        1.02871956,  0.19603252,  1.01286336,  0.54353556,  0.34022376,
        0.34173193,  0.27942172,  0.35575024,  0.64043552,  0.72056041,
        0.64046804,  0.91371056,  0.63465491,  0.12790014,  0.95323619,
        0.06038625,  0.1279309 ,  0.07119826])