In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [3]:
def prepare_data(X):
    X['is_adult'] = X['Age']
    for i,val in enumerate(X['Sex']):
        if X['Sex'][i] == 'male':
            X['Sex'][i] = 1
        else:
            X['Sex'][i] = 0
    for i,val in enumerate(X['Age']):
        if X['Age'][i] < 18:
            X['is_adult'][i] = 1
        else:
            X['is_adult'][i] = 0
    median_age = X['Age'].median()
    X['Age'] = X['Age'].fillna(median_age)
    median_fare = X['Fare'].median()
    X['Fare'] = X['Fare'].fillna(median_age)
    return X

In [4]:
y = train['Survived']
X = train.drop(['Survived', 'Name', 'Ticket', 'Cabin', 'Embarked'], 1)
X = prepare_data(X)
lr = LinearRegression()

KeyError: 'is_adult'

In [5]:
X

     PassengerId  Pclass Sex   Age  SibSp  Parch     Fare
0              1       3   1  22.0      1      0   7.2500
1              2       1   0  38.0      1      0  71.2833
2              3       3   0  26.0      0      0   7.9250
3              4       1   0  35.0      1      0  53.1000
4              5       3   1  35.0      0      0   8.0500
..           ...     ...  ..   ...    ...    ...      ...
886          887       2   1  27.0      0      0  13.0000
887          888       1   0  19.0      0      0  30.0000
888          889       3   0  28.0      1      2  23.4500
889          890       1   1  26.0      0      0  30.0000
890          891       3   1  32.0      0      0   7.7500

[891 rows x 7 columns]

In [6]:
test = test.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], 1)
test = prepare_data(test)
test

     PassengerId  Pclass Sex   Age  SibSp  Parch      Fare
0            892       3   1  34.5      0      0    7.8292
1            893       3   0  47.0      1      0    7.0000
2            894       2   1  62.0      0      0    9.6875
3            895       3   1  27.0      0      0    8.6625
4            896       3   0  22.0      1      1   12.2875
..           ...     ...  ..   ...    ...    ...       ...
413         1305       3   1  27.0      0      0    8.0500
414         1306       1   0  39.0      0      0  108.9000
415         1307       3   1  38.5      0      0    7.2500
416         1308       3   1  27.0      0      0    8.0500
417         1309       3   1  27.0      1      1   22.3583

[418 rows x 7 columns]

In [38]:
lr.fit(X,y)
prediction = pd.DataFrame(abs(lr.predict(test).round()))
prediction['PassengerId'] = test['PassengerId']

In [40]:
import datetime
datetime.datetime.now()
timestamp = f'predictions/prediction-{str(datetime.datetime.now())}.csv'
prediction.to_csv(timestamp, encoding='utf-8', index=False)