In [5]:
# from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
# from sklearn.naive_bayes import 
import pandas as pd
import numpy as np

In [6]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [7]:
def prepare_data(X):
    X['is_adult'] = X['Age']
    for i,val in enumerate(X['Sex']):
        if X['Sex'][i] == 'male':
            X['Sex'][i] = 1
        else:
            X['Sex'][i] = 0
    for i,val in enumerate(X['Age']):
        if X['Age'][i] < 18:
            X['is_adult'][i] = 1
        else:
            X['is_adult'][i] = 0
    median_age = X['Age'].median()
    X['Age'] = X['Age'].fillna(median_age)
    median_fare = X['Fare'].median()
    X['Fare'] = X['Fare'].fillna(median_age)
    return X

In [8]:
y = train['Survived']
X = train.drop(['Survived', 'Name', 'Ticket', 'Cabin', 'Embarked'], 1)
X = prepare_data(X)
# lr = LinearRegression()
model = KNeighborsClassifier(2, n_jobs=12)

In [10]:
X

     PassengerId  Pclass Sex   Age  SibSp  Parch     Fare  is_adult
0              1       3   1  22.0      1      0   7.2500       0.0
1              2       1   0  38.0      1      0  71.2833       0.0
2              3       3   0  26.0      0      0   7.9250       0.0
3              4       1   0  35.0      1      0  53.1000       0.0
4              5       3   1  35.0      0      0   8.0500       0.0
..           ...     ...  ..   ...    ...    ...      ...       ...
886          887       2   1  27.0      0      0  13.0000       0.0
887          888       1   0  19.0      0      0  30.0000       0.0
888          889       3   0  28.0      1      2  23.4500       0.0
889          890       1   1  26.0      0      0  30.0000       0.0
890          891       3   1  32.0      0      0   7.7500       0.0

[891 rows x 8 columns]

In [11]:
test = test.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], 1)
test = prepare_data(test)
test

     PassengerId  Pclass Sex   Age  SibSp  Parch      Fare  is_adult
0            892       3   1  34.5      0      0    7.8292       0.0
1            893       3   0  47.0      1      0    7.0000       0.0
2            894       2   1  62.0      0      0    9.6875       0.0
3            895       3   1  27.0      0      0    8.6625       0.0
4            896       3   0  22.0      1      1   12.2875       0.0
..           ...     ...  ..   ...    ...    ...       ...       ...
413         1305       3   1  27.0      0      0    8.0500       0.0
414         1306       1   0  39.0      0      0  108.9000       0.0
415         1307       3   1  38.5      0      0    7.2500       0.0
416         1308       3   1  27.0      0      0    8.0500       0.0
417         1309       3   1  27.0      1      1   22.3583       0.0

[418 rows x 8 columns]

In [12]:
model.fit(X,y)
prediction = pd.DataFrame(abs(model.predict(test).round()))
prediction['PassengerId'] = test['PassengerId']

In [13]:
import datetime
datetime.datetime.now()
timestamp = f'predictions/prediction-{str(datetime.datetime.now())}.csv'
prediction.to_csv(timestamp, encoding='utf-8', index=False)